header{
    background:rgb(174, 174, 247);
}
header div{
    font-size:30px;
    text-align: top;


}

h1.index{
    color: darkblue;
    text-align: center;

}

h1.page1{
    color: darkblue;
}
h1.page2{
    color: darkblue;
}
h1.page3{
    color: darkblue;
}

header div{
    color: white;
} 

p{
    margin-left:20px;
    font-style: italic; 
    font-size: large;
    padding-left:40px;
    width: 800px;  
   
    
}
